<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="holder headline">
    Travel App
  </h1>
  <main id="app">
    <h2>Information about your trip:</h2>
    <section>
      <form>
        <label for="location">Enter City, Country here</label>
        <input type="text" id="location" minlength="" maxlength="" placeholder="city, country here">
        <label for="date">Trip date</label>
        <input id="date" type="date" placeholder="Enter your trip date">
        <button id="search" type="submit"> Search </button>
      </form>
    </section>
    <section>
      <h3>Trip Information:</h3>
      <div>
        <div>
          <p id="full-location"></p>
          <div>
            <h5>Typical weather for then is:</h5>
            <h6>Low</h6>
            <p id="temp-min"></p>
            <h6>High</h6>
            <p id="temp-max"></p>
            <p id="weather-description"></p>
            <img id="weather-icon" src="" alt="">
          </div>
        </div>
        <div><img id="location-pic" src="" alt=""></div>
      </div>
    </section>

  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchButton = document.getElementById('search');
      searchButton.addEventListener('click', function listener(event) {
        Client.handleSubmit(event);
      });
    });
  </script>
</body>

</html>
